/*
Colors used:
Primary Color (White): #ffffff;
Secondary Color (Black): #202020;
Secondary Color (Red): #e4462e;
Secondary Color (Red, 70% opacity): #EC7D6C;
*/
/* font-family: 'Poppins', sans-serif;
*/
/* Layout styling */
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #202020;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 500;
}

h4 {
  font-size: 1.35em;
  font-weight: 500;
}

img {
  width: 100%;
}

a {
  color: #ffffff !important;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #ffffff !important;
}

a:hover,
a:focus {
  color: #EC7D6C !important;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #ffffff !important;
}

#my-link {
  /* id selector */
  color: green;
}

.my-link {
  /* class selector */
  color: blue;
}

header {
  background-color: #202020;
  color: #ffffff !important;
  padding: 10px 15px;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(32, 32, 32, 0.3);
  -moz-box-shadow: 0px 10px 10px 0px rgba(32, 32, 32, 0.3);
  box-shadow: 0px 10px 10px 0px rgba(32, 32, 32, 0.3);
  position: fixed;
  width: 100%;
}

main {
  padding-top: 133px;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#projects .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #202020;
}

#hero h1 {
  text-align: center;
}

#hero h2 {
  text-align: center;
}

#hero p {
  text-align: center;
}

#projects h2 {
  text-align: center;
}

#footer h2 {
  text-align: center;
}

#footer p {
  text-align: center;
}

#headertitle h1 {
  text-align: center;
}

#AndreeaCatanaStory h2 {
  text-align: center;
}

#AndreeaCatanaSkills h3 {
  text-align: center;
}

#AndreeaCatanaTools h3 {
  text-align: center;
}

.logo {
  max-width: 250px;
}

header {
  background-color: #202020;
  text-align: center;
  padding: 10px 0;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
}

nav>ul>li>a:visited. {
  color: #ffffff !important;
}

nav>ul>li>a:hover. {
  color: #EC7D6C !important;
  text-decoration: underline;
}

nav>ul>li>a:active. {
  color: #ffffff !important;
}

nav {
  display: inline-block;
  width: 100%;
}

#hero {
  background-color: #ffffff;
  color: #202020 !important;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-top: 40px;
}

.button {
  display: inline-block;
  background-color: #e4462e;
  color: #ffffff !important;
  font-weight: 400;
  padding: 10px;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #e4462e !important;
  text-transform: uppercase;
  border: 2px solid #e4462e;
}

.button.contact:hover {
  background-color: #e4462e;
  color: #ffffff !important;
}
