/* Colors used:
      Background (White): #ffffff;
      Background accent (Black): #202020;
      Text (Black): #202020;
      Accent 1 (Red): #e4462e;
      Accent 2 (Red, 70% opacity): #EC7D6C;
      Padding: top right bottom left;
*/
/* font-family: 'Poppins', sans-serif;
*/
/* Layout styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #202020;
}

h1, h2, h3 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 500;
}

a {
  color: #ffffff !important;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #ffffff !important;
}

a:hover,
a:focus {
  color: #EC7D6C !important;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #ffffff !important;
}

#my-link {
  /* id selector */
  color: green;
}

.my-link {
  /* class selector */
  color: blue;
}

/* Index page - Styling */
header {
  background-color: #202020;
  color: #ffffff !important;
  padding: 10px 15px;
  text-align: center;
  padding: 10px 0;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(32, 32, 32, 0.3);
  -moz-box-shadow: 0px 10px 10px 0px rgba(32, 32, 32, 0.3);
  box-shadow: 0px 10px 10px 0px rgba(32, 32, 32, 0.3);
  position: fixed;
  width: 100%;
}

.logo {
  max-width: 250px;
}

#hero h2 {
  text-align: center;
}

#hero p {
  text-align: center;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#hero {
  background-color: #ffffff;
  color: #202020 !important;
  padding-top: 133px;
  padding-bottom: 10px;
  width: 100%;
}

#hero span {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#main {
  clear: both;
  color: #202020;
  text-align: left;
  padding-right: 5%;
  padding-left: 5%;
  margin: 0 auto;
}

#index-page {
  padding: 0px 0px;
}

#main h2 {
  text-align: center;
}

#main h3 {
  padding-top: 10px;
  padding-bottom: 5px;
}

#main p {
  padding-top: 5px;
  padding-bottom: 10px;
}

#main .container {
  display: grid;
  max-width: 960px;
  margin: 0 auto;
}

#main .row {
  padding-top: 20px;
  margin: 10px 0px;
  text-align: stretch;
}

#main .col-left {
  float: left;
  text-align: left;
  width: 50%;
}

#main .col-right {
  float: right;
  text-align: left;
  width: 50%;
}

#main .img-responsive {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#main .berlin-illustration {
  height: 200px;
  width: 100%;
}

#main .link {
  color: #202020;
}

#main .link:hover {
  color: #e4462e;
}

.row {
  padding-bottom: 20px;
  border-bottom: 1px solid #202020;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

#footer {
  float: bottom;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#footer h2 {
  padding-top: 10px;
  padding-bottom: 5px;
}

#footer p {
  padding-top: 5px;
  padding-bottom: 10px;
}

.footer-Copyright {
  text-align: center;
  width: 100%;
  background-color: white;
  color: #202020;
  padding-bottom: 10px;
}

.button {
  display: inline-block;
  background-color: #e4462e;
  color: #ffffff !important;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}
/* About page - Styling */
header {
  background-color: #202020;
  color: #ffffff !important;
  padding: 10px 15px;
  text-align: center;
  padding: 10px 0;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(32, 32, 32, 0.3);
  -moz-box-shadow: 0px 10px 10px 0px rgba(32, 32, 32, 0.3);
  box-shadow: 0px 10px 10px 0px rgba(32, 32, 32, 0.3);
  position: fixed;
  width: 100%;
}

#main {
  clear: both;
  color: #202020;
  text-align: left;
  padding-top: 99px;
  padding-right: 5%;
  padding-left: 5%;
  margin: 0;
}

#about-page {
  padding-top: 99px;
}

#main .row {
  margin: 0;
}

#main h2 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

#main h3 {
  padding-top: 15px;
  padding-bottom: 10px;
}

#main p {
  padding-bottom: 10px;
}

.logo {
  max-width: 250px;
}

.row {
  padding-bottom: 20px;
  border-bottom: 1px solid #202020;
}

.photo {
  display: block;
  width: 100%;
}

/* Nav bar styling */
nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 200;
  color: #ffffff;
}

nav>ul>li>a:visited. {
  color: #ffffff !important;
}

nav>ul>li>a:hover. {
  color: #EC7D6C !important;
  text-decoration: underline;
}

nav>ul>li>a:active. {
  color: #ffffff !important;
}

nav {
  display: inline-block;
  width: 100%;
}

.button.contact {
  background-color: transparent;
  color: #e4462e !important;
  text-transform: uppercase;
  border: 2px solid #e4462e;
}

.button.contact:hover {
  background-color: #e4462e;
  color: #ffffff !important;
}

/* (320px and larger) - iPhone 5/SE */
@media only screen and (min-width: 320px) {
  h2 {
    font-size: 1.75em;
    font-weight: 700;
  }

  h3 {
    font-size: 1.55em;
    font-weight: 400;
  }
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 10px 5px;
    height: 100px;
    display: block;
    position: fixed;
  }

  .logo {
    width: 40%;
    float: left;
    margin: 10px;
  }

  nav {
    width: 50%;
    float: right;
    text-align: right;
    margin-top: 10px;
    font-size: 1em;
  }

  nav>ul {
    margin: 1em 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  .berlin-illustration {
    height: 150px;
    width: 100%;
  }

  .col-md-6 {
    width: 50%;

  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #main .row {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
  }

  #about-page h3 {
    margin-top: 0;
  }

  .photo {
    display: block;

    width: 100%;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  #header {
     height: 100px;
   }

   #hero {
     padding-top: 175px;

   }

   h2 {
     font-size: 2.25em;
     font-weight: 700;
   }

   h3 {
     font-size: 1.75em;
     font-weight: 500;
   }

   .logo {
     width: 50%;
     float: left;
     margin: 20px;
   }

   nav {
     display: inline-block;
     margin-top: 20px;
     padding-right: 20px;
     font-size: 1.5em;
   }

   .berlin-illustration {
     height: 200px;
     width: 100%;
   }

  .col-lg-7 {
    width: 40%;
  }

  .col-lg-5 {
    width: 60%;
    padding-right: 30px;
    padding-top: 30px;
  }

  .photo {
    display: block;
    margin-right: auto;
    width: 100%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
